<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>SHOP</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="jumbotron"><h1>SHOP</h1>
        <p class="lead">도서 상품</p>
        <p>
            <a class="btn btn-lg btn-secondary btn-block" href="/items/book">책</a>
        <p class="lead">음악 상품</p>
        <p>
            <a class="btn btn-lg btn-dark btn-block" href="/items/album">앨범</a>
        <p class="lead">영화 상품</p>
        <p>
            <a class="btn btn-lg btn-info btn-block" href="/items/movie">영화</a>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>
